<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>cs3220_project.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUserTableInDatabase</servlet-name>
        <servlet-class>cs3220_project.createUserTableInDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cs3220_project_logout</servlet-name>
        <servlet-class>cs3220_project.cs3220_project_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_poi</servlet-name>
        <servlet-class>cs3220_project.delete_poi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_user</servlet-name>
        <servlet-class>cs3220_project.delete_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_poi</servlet-name>
        <servlet-class>cs3220_project.edit_poi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_this_poi</servlet-name>
        <servlet-class>cs3220_project.edit_this_poi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_poi</servlet-name>
        <servlet-class>cs3220_project.add_poi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_this_poi</servlet-name>
        <servlet-class>cs3220_project.add_this_poi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginFormPage</servlet-name>
        <servlet-class>cs3220_project.loginFormPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_user</servlet-name>
        <servlet-class>cs3220_project.login_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_user</servlet-name>
        <servlet-class>cs3220_project.register_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>cs3220_project.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>cs3220_project.main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>cs3220_project.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details</servlet-name>
        <servlet-class>cs3220_project.details</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUserTableInDatabase</servlet-name>
        <url-pattern>/createUserTableInDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cs3220_project_logout</servlet-name>
        <url-pattern>/cs3220_project_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_poi</servlet-name>
        <url-pattern>/delete_poi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_user</servlet-name>
        <url-pattern>/delete_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_poi</servlet-name>
        <url-pattern>/edit_poi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_this_poi</servlet-name>
        <url-pattern>/edit_this_poi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_poi</servlet-name>
        <url-pattern>/add_poi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_this_poi</servlet-name>
        <url-pattern>/add_this_poi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginFormPage</servlet-name>
        <url-pattern>/loginFormPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_user</servlet-name>
        <url-pattern>/login_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_user</servlet-name>
        <url-pattern>/register_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
